<div class="dbi-watch-list">
    <header class="row pt-4 m-0">
        <div class="col-4">
            <img (click)="backDashBoard('home')" src="assets/images/icons/back.svg">
        </div>
        <div class="col-4">
            <h3>
                Watch-list
            </h3>
        </div>
        <div class="col-4">
        </div>
    </header>
    <main>
        <div class="dbi-watch-list__not-found">
            <img src="assets/images/icons/not-found-watch-list.svg" alt="">
            <h4>
                There is no movie yet!
            </h4>
            <p>Find your movie by Type title, categories, years, etc </p>
        </div>
    </main>
</div>