.dbi-search {
    background-color: var(--main-color);
    min-height: 100vh;
    height: 100%;

    width: 100%;
    .col-4 {
        &:nth-child(1) {
            margin: auto;
            img {
                display: flex;
                margin: auto;
            }
        }
        &:nth-child(2) {
            h3 {
                text-align: center;
                color: var(--second-color);
                margin-bottom: 0px;
            }
        }
        &:nth-child(3) {
            margin: auto;
            img {
                display: flex;
                margin: auto;
            }
        }
    }
    &__input {
        input {
            margin: auto;
            display: flex;
            width: 90%;
            color: var(--second-color);
            padding: 0.951rem 1.625rem;
            border-radius: 1rem;
            height: 2.625rem;
            background-color: #3a3f47;
            border: none;
            &:focus-visible {
                outline: none !important;
            }
        }
        label {
            position: relative;
            width: 100%;
            &:before {
                content: "";
                position: absolute;
                right: 10vw;
                top: 0;
                bottom: 0;
                width: 20px;
                background: url("/assets/images/icons/input-search.svg") center / contain no-repeat;
            }
        }
    }
    &__main {
        padding: 1.951rem 1.625rem;
        &__not-found {
            text-align: center;
            margin-top: 50%;
            h3 {
                color: var(--second-color);
            }
            &__img {
                margin: auto;
            }
            &__subtext {
                color: #92929d;
            }
        }
        &__finded-movies {
            &:last-child {
                padding-bottom: 25%;
            }
            img {
                width: 95px;
                object-fit: cover;
                height: 120px;
                border-radius: 1rem;
            }

            &__detail {
                h5 {
                    color: var(--second-color);
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-weight: 400;
                }
                img {
                    width: 0.875rem;
                    height: 0.875rem;
                }
                p {
                    color: #eeeeee;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
    }
}
