.dbi-home {
    background-color: var(--main-color);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    .dbi-title {
        color: var(--second-color);
        font-size: 1.125rem;
        padding: 1.5625rem;
    }
    label {
        position: relative;
        width: 100%;
        &:before {
            content: "";
            position: absolute;
            right: 10vw;
            top: 0;
            bottom: 0;
            width: 20px;
            background: url("/assets/images/icons/input-search.svg") center / contain no-repeat;
        }
        .dbi-input {
            margin: auto;
            display: flex;
            width: 90%;
            color: var(--second-color);
            padding: 0.951rem 1.625rem;
            border-radius: 1rem;
            height: 2.625rem;
            background-color: #3a3f47;
            border: none;
            &:focus-visible {
                outline: none !important;
            }
        }
    }
    .dbi-tabs {
        margin: 4.5rem 0 0 0.35rem;
        h4 {
            color: var(--second-color);
            font-size: 13px;
            margin: auto;
            text-align: center;
            height: 3.125rem;
            font-weight: 600;
            width: 80px;
            hr {
                color: #3a3f47;
                border-top: 3px solid;
            }
        }
    }
    ::ng-deep .carousel {
        height: 13.125rem !important;
        .carousel-cells .carousel-cell {
            width: 9.375rem !important;
            margin-left: 1.5625rem;
        }
        img {
            object-fit: unset !important;
            border-radius: 1rem;
            width: 9.375rem !important;
        }
        .carousel-arrows {
            display: none !important;
        }
    }
    .dbi-movies-main {
        .row {
            margin: 0px !important;
            .col-3 {
                width: 30% !important;
                margin: auto;
                margin-bottom: 1.225rem;
            }
            img {
                width: 6.25rem;
                border-radius: 15px;
                height: 9.375rem;
            }
        }
    }
}
